.findings
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    font-size: 0.9em;
    font-style: normal;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-right-color: #CACDC5;
    border-bottom-color: #CACDC5;
}

/*Word wrapping findings */
.findings a { white-space:normal !important; /*wrapping*/ 
              height: auto !important; /*Chrome correct wrapping and mark the whole line*/
              /*Used in order to indent the word-wrapped lines*/
              padding-left: 1.5em !important; 
              text-indent: -1.5em;
              margin-right: 1.5em !important; /*Word wrap at the right end of the div, not slightly after*/
            } 

.findings li > ins { vertical-align:top; }
.findings .jstree-hovered, .findings .jstree-clicked { border:0; }

/*Used for alternating colour highlighting*/
.jstree-leaf {
    margin-left: -18px !important;
    padding-left: 36px !important;
}

.code
{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%; /*Show everything by default*/
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #CACDC5;
}

.details
{
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 30%;
    left: 0;
    text-align: left;
    overflow-y: auto;
    border-right: 1px solid;
    border-right-color: #CACDC5;
}

.more_info
{
    position: absolute;
    bottom: 0; 
    width: 70%;
    right: 0;
    text-align: left;
    overflow-y: auto;
    height: 0; /*Change to 30% and the dispay: none; prpoperties to show*/
}
.more_info pre, p, h3 {margin-left: 0.3em}
.linetd {
    max-width: 100px;
    display: block;
}


.descriptor
{
    text-align: center;
    font-size:  0.875em;
    font-style:  italic;
    height: 1em;
    overflow: hidden;

}

.show
{
    font-size: 0.7em;
    color:blue;
    font-style: normal;
}

.num
{
    text-align: right;
}

.new_filename
{
    max-width: 1em;
    display: block;
    text-align: left;
}

.generic_detail
{
    font-size: small;
    color:black;
}

h3 {
    display: inline-block;
    font-weight:bolder;
    font-size: 1.2em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

td
 {
 padding-left: 0.3em
}

table {
    border-spacing:0;
    border-collapse:collapse;
    padding-left: 0.8em;
    margin-bottom: 1em;
}

img
 {
 vertical-align: middle; /*Allign image with text*/
 }

.learn_more
{
    font-size: smaller;
    cursor: hand; /* Make hand cursor on clickable stuff */
    cursor: pointer;
}

#black_link
 {
    color: black;
 }

 .title
 {
    text-align: center;
    font-size: 2em;
    font-weight: 500; /*bold*/
 }

body {
  font-family: Sans-Serif;
}

li { cursor: hand; cursor: pointer; } /*Hand cursor in tree. Different browser use different values */
                                     /* hence the two different cursors*/
a, a:visited, a:hover, a:active {
  color: #0000FF;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}

.Summary {
    margin-bottom: 0.6em;
}

.home_button {
    font-size: small;
    font-weight: 700; /*bold*/
}